questionnaire-test/src/test/java/dk/silverbullet/telemed/questionnaire/node/monica/realtime/schemas/newMessageSchema1.xsd

<xs:schema elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT"
           xmlns:tns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="serialization.xsd"/>
    <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="arrays.xsd"/>
    <xs:complexType name="CtgMessage">
        <xs:sequence>
            <xs:element name="ctgField" nillable="true" type="tns:ArrayOfCtgMessageBlock"/>
            <xs:element name="deviceIDField" nillable="true" type="xs:string"/>
            <xs:element name="markersField" nillable="true" type="q3:ArrayOfdateTime" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
            <xs:element name="patientField" nillable="true" type="tns:CtgMessagePatient"/>
            <xs:element name="registrationIDField" nillable="true" type="xs:string"/>
            <xs:element name="tocoShiftField" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CtgMessage" nillable="true" type="tns:CtgMessage"/>
    <xs:complexType name="ArrayOfCtgMessageBlock">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="CtgMessageBlock" nillable="true" type="tns:CtgMessageBlock"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfCtgMessageBlock" nillable="true" type="tns:ArrayOfCtgMessageBlock"/>
    <xs:complexType name="CtgMessageBlock">
        <xs:sequence>
            <xs:element name="fhrField" nillable="true" type="xs:string"/>
            <xs:element name="mhrField" nillable="true" type="xs:string"/>
            <xs:element name="sequenceNbrField" type="xs:int"/>
            <xs:element name="sqField" nillable="true" type="xs:string"/>
            <xs:element name="timeField" type="xs:dateTime"/>
            <xs:element name="tocoField" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CtgMessageBlock" nillable="true" type="tns:CtgMessageBlock"/>
    <xs:complexType name="CtgMessagePatient">
        <xs:sequence>
            <xs:element name="idField" nillable="true" type="xs:string"/>
            <xs:element name="nameField" nillable="true" type="tns:CtgMessagePatientName"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CtgMessagePatient" nillable="true" type="tns:CtgMessagePatient"/>
    <xs:complexType name="CtgMessagePatientName">
        <xs:sequence>
            <xs:element name="firstField" nillable="true" type="xs:string"/>
            <xs:element name="lastField" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CtgMessagePatientName" nillable="true" type="tns:CtgMessagePatientName"/>
</xs:schema>
